body {
  background-image: url('./images/matthew.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.key-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.key {
  border: 3px black solid;
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .07s;
  flex-direction: column;
}

kbd {
  font-size: 24px;
  color: white;
}

span {
  color: orange;
}

.key:hover {
  cursor: pointer;
}

.playing {
  transform: scale(1.4);
  border-color: orange;
}
