body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background-image: url('./images/matthew.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.key {
  border: 3px blue solid;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .07s
}

.key:hover {
  cursor: pointer;
}

.playing {
  transform: scale(1.4);
  border-color: orange;
}
